In [3]:
import pandas as pd

In [54]:
x = [1654654654654654654,"hi"]

pd.Series(x)

0    1654654654654654654
1                     hi
dtype: object

In [42]:
import numpy as np

a = np.random.randint(1,3,(100,3))

In [43]:
a.dtype

dtype('int32')

In [36]:
data = pd.DataFrame(a,columns=["first","second","third"])

In [37]:
data.head()

      first    second     third
0  0.072577  0.426217  0.283307
1  0.880158  0.591005  0.909521
2  0.136035  0.447931  0.004474
3  0.917666  0.786290  0.861966
4  0.381908  0.480685  0.950205

In [38]:
data.tail()

       first    second     third
95  0.744857  0.991281  0.248544
96  0.640684  0.691630  0.384180
97  0.928781  0.364438  0.254789
98  0.973112  0.097545  0.850687
99  0.424708  0.281740  0.865423

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   first   100 non-null    float64
 1   second  100 non-null    float64
 2   third   100 non-null    float64
dtypes: float64(3)
memory usage: 2.5 KB

In [45]:
data.describe()

            first      second       third
count  100.000000  100.000000  100.000000
mean     0.535059    0.508729    0.480230
std      0.298953    0.276468    0.324056
min      0.009266    0.011472    0.004474
25%      0.318729    0.292058    0.185596
50%      0.529477    0.484101    0.454021
75%      0.793006    0.765735    0.833420
max      0.998919    0.991281    0.990377

In [48]:
data.columns.tolist()

['first', 'second', 'third']

In [47]:
data.index

RangeIndex(start=0, stop=100, step=1)

In [53]:
data = pd.read_csv('Housing.csv',encoding='utf-8',delimiter=',')
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [57]:
data.values

array([[13300000, 7420, 4, ..., 2, 'yes', 'furnished'],
       [12250000, 8960, 4, ..., 3, 'no', 'furnished'],
       [12250000, 9960, 3, ..., 2, 'yes', 'semi-furnished'],
       ...,
       [1750000, 3620, 2, ..., 0, 'no', 'unfurnished'],
       [1750000, 2910, 3, ..., 0, 'no', 'furnished'],
       [1750000, 3850, 3, ..., 0, 'no', 'unfurnished']], dtype=object)