In [35]:
import pandas as pd


df = pd.read_csv('loan.csv')

In [74]:
x = df.columns[df.isnull().sum() == 39717].tolist()

In [76]:
df = df.drop(x,axis=1)

In [85]:
y = df.columns[df.isnull().sum()/df.shape[0] * 100 > 90].tolist()

In [86]:
df = df.drop(y,axis=1)

In [88]:
df.columns[df.isnull().sum()/df.shape[0] * 100 > 60].tolist()

['mths_since_last_delinq']

In [97]:
df = df.drop(['id','member_id'],axis=1)

In [103]:
for i in df.columns:
    print(i,df[i].nunique())

loan_amnt 885
funded_amnt 1041
funded_amnt_inv 8205
term 2
int_rate 371
installment 15383
grade 7
sub_grade 35
emp_title 28820
emp_length 11
home_ownership 5
annual_inc 5318
verification_status 3
issue_d 55
loan_status 3
pymnt_plan 1
url 39717
desc 26527
purpose 14
title 19615
zip_code 823
addr_state 50
dti 2868
delinq_2yrs 11
earliest_cr_line 526
inq_last_6mths 9
mths_since_last_delinq 95
open_acc 40
pub_rec 5
revol_bal 21711
revol_util 1089
total_acc 82
initial_list_status 1
out_prncp 1137
out_prncp_inv 1138
total_pymnt 37850
total_pymnt_inv 37518
total_rec_prncp 7976
total_rec_int 35148
total_rec_late_fee 1356
recoveries 4040
collection_recovery_fee 2616
last_pymnt_d 101
last_pymnt_amnt 34930
last_credit_pull_d 106
collections_12_mths_ex_med 1
policy_code 1
application_type 1
acc_now_delinq 1
chargeoff_within_12_mths 1
delinq_amnt 1
pub_rec_bankruptcies 3
tax_liens 1

In [120]:
dtype_int=[]
for i in df.columns:
    if df[i].dtype == 'int64':
        dtype_int.append(i)

In [122]:
df[dtype_int].head()

,loan_amnt,funded_amnt,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,policy_code,acc_now_delinq,delinq_amnt
0,5000,5000,0,1,3,0,13648,9,1,0,0
1,2500,2500,0,5,3,0,1687,4,1,0,0
2,2400,2400,0,2,2,0,2956,10,1,0,0
3,10000,10000,0,1,10,0,5598,37,1,0,0
4,3000,3000,0,0,15,0,27783,38,1,0,0

In [117]:
for i in df.columns:
    if df[i].dtype == 'float64':
        print(i)

funded_amnt_inv
installment
annual_inc
dti
mths_since_last_delinq
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_amnt
collections_12_mths_ex_med
chargeoff_within_12_mths
pub_rec_bankruptcies
tax_liens

In [119]:
for i in df.columns:
    if df[i].dtype == 'object':
        print(i)

term
int_rate
grade
sub_grade
emp_title
emp_length
home_ownership
verification_status
issue_d
loan_status
pymnt_plan
url
desc
purpose
title
zip_code
addr_state
earliest_cr_line
revol_util
initial_list_status
last_pymnt_d
last_credit_pull_d
application_type