In [153]:
import pandas as pd

In [154]:
dataset = pd.read_csv('./archive/sent.csv',encoding='latin-1')

In [155]:
dataset

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
...,...,...,...,...,...,...
1599994,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [156]:
dataset.columns = ['target','random','date','na','na1','sent']

In [157]:
dataset.head()

,target,random,date,na,na1,sent
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [158]:
from sklearn.feature_extraction.text import CountVectorizer , TfidfVectorizer

In [159]:
dataset.sent = dataset.sent.astype(str).apply(lambda x:x.replace("@",''))
dataset.sent = dataset.sent.astype(str).apply(lambda x:x.lower())

In [160]:
def fun(x):
    if x == 4:
        return 1
    else:
        return 0

dataset['target'] = dataset['target'].apply(lambda x:fun(x))

In [161]:
dataset = dataset.iloc[0::100,:]

In [162]:
x = dataset['sent']
y = dataset['target']

In [185]:
cv = CountVectorizer()

counted = cv.fit_transform(x.tolist())

In [164]:
bow = pd.DataFrame(counted.toarray(),columns=cv.get_feature_names())

In [165]:
bow = bow.iloc[:,1000:-1000]

In [166]:
y.value_counts()

1    8000
0    8000
Name: target, dtype: int64

In [168]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()

nb.fit(bow,y)

GaussianNB()

In [171]:
pred = nb.predict(bow)

In [172]:
from sklearn.metrics import f1_score

f1_score(pred,y)

0.8820570150922302

In [184]:
nb.predict(conv.toarray())[0]

ValueError: operands could not be broadcast together with shapes (1,20) (23936,)