In [3]:
#importing libraries
import pandas as pd
import numpy as np

In [4]:
# nested list for creating dataframe
x = [[1,2,3,4,5,6,7],[1,2,3,4,5,6,7]]

## creating dataframes

In [7]:
#create dataframe
pd.DataFrame(x)

   0  1  2  3  4  5  6
0  1  2  3  4  5  6  7
1  1  2  3  4  5  6  7

In [8]:
#create pandas series
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

## pandas attributes

In [10]:
#reading data into pandas dataframe from a csv file
data = pd.read_csv('Housing.csv')

In [11]:
#to inspect shpae of a dataframe
data.shape

(545, 13)

In [12]:
#to see columns 
data.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [13]:
# to see index
data.index

RangeIndex(start=0, stop=545, step=1)

## Data attributes

In [14]:
# printing data attributes 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
price               545 non-null int64
area                545 non-null int64
bedrooms            545 non-null int64
bathrooms           545 non-null int64
stories             545 non-null int64
mainroad            545 non-null object
guestroom           545 non-null object
basement            545 non-null object
hotwaterheating     545 non-null object
airconditioning     545 non-null object
parking             545 non-null int64
prefarea            545 non-null object
furnishingstatus    545 non-null object
dtypes: int64(6), object(7)
memory usage: 55.4+ KB

In [15]:
# decribing numerical data from a dataframe
data.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

## indexing dataframes

In [61]:
# index based and location based

'''
# general indexing methods
df[begin:end]
df.[‘col’]
df[‘col’,’col’]
df.col
df[5::2]

'''
data[1::2]

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
5,10850000,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
7,10150000,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
9,9800000,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished
11,9681000,6000,4,3,2,yes,yes,yes,yes,no,2,no,semi-furnished
13,9240000,3500,4,2,2,yes,no,no,yes,no,2,no,furnished
15,9100000,6000,4,1,2,yes,no,yes,no,no,2,no,semi-furnished
17,8960000,8500,3,2,4,yes,no,no,no,yes,2,no,furnished
19,8855000,6420,3,2,2,yes,no,no,no,yes,1,yes,semi-furnished
21,8680000,7155,3,2,1,yes,yes,yes,no,yes,2,no,unfurnished
23,8645000,4560,3,2,2,yes,yes,yes,no,yes,1,no,furnished
25,8540000,6540,4,2,2,yes,yes,yes,no,yes,2,yes,furnished
27,8400000,8875,3,1,1,yes,no,no,no,no,1,no,semi-furnished
29,8400000,5500,4,2,2,yes,no,yes,no,yes,1,yes,semi-furnished
31,8400000,7000,3,1,4,yes,no,no,no,yes,2,no,semi-furnished
33,8190000,5960,3,3,2,yes,yes,yes,no,no,1,no,unfurnished
35,8080940,7000,3,2,4,yes,no,no,no,yes,2,no,furnished
37,7980000,9000,4,2,4,yes,no,no,no,yes,2,no,furnished
39,7910000,6000,4,2,4,yes,no,no,no,yes,1,no,semi-furnished
41,7840000,6360,3,2,4,yes,no,no,no,yes,0,yes,furnished
43,7700000,6000,4,2,4,yes,no,no,no,no,2,no,semi-furnished
45,7560000,6000,3,2,3,yes,no,no,no,yes,0,no,semi-furnished
47,7490000,6600,3,1,4,yes,no,no,no,yes,3,yes,furnished
49,7420000,7440,3,2,1,yes,yes,yes,no,yes,0,yes,semi-furnished
51,7420000,6325,3,1,4,yes,no,no,no,yes,1,no,unfurnished
53,7350000,5150,3,2,4,yes,no,no,no,yes,2,no,semi-furnished
55,7350000,6000,3,1,2,yes,no,no,no,yes,1,no,unfurnished
57,7245000,9000,4,2,4,yes,yes,no,no,yes,1,yes,furnished
59,7210000,6000,3,2,4,yes,yes,no,no,yes,1,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,2870000,3630,2,1,1,yes,no,no,no,no,0,no,unfurnished
487,2870000,5400,4,1,2,yes,no,no,no,no,0,no,unfurnished
489,2835000,3300,3,1,2,no,no,no,no,no,1,no,semi-furnished
491,2835000,2640,2,1,1,no,no,no,no,no,1,no,furnished
493,2800000,3960,3,1,1,yes,no,no,no,no,0,no,furnished
495,2730000,4000,3,1,2,yes,no,no,no,no,1,no,unfurnished
497,2660000,3934,2,1,1,yes,no,no,no,no,0,no,unfurnished
499,2660000,3630,3,3,2,no,yes,no,no,no,0,no,unfurnished
501,2660000,2430,3,1,1,no,no,no,no,no,0,no,unfurnished
503,2660000,4000,3,1,1,yes,no,no,no,no,0,no,semi-furnished
505,2653000,4000,3,1,2,yes,no,no,no,yes,0,no,unfurnished
507,2590000,3600,2,1,1,yes,no,no,no,no,0,no,unfurnished
509,2590000,3600,2,2,2,yes,no,yes,no,no,1,no,furnished
511,2520000,3180,3,1,1,no,no,no,no,no,0,no,unfurnished
513,2485000,4400,3,1,2,yes,no,no,no,no,0,no,unfurnished
515,2450000,3210,3,1,2,yes,no,yes,no,no,0,no,unfurnished
517,2450000,3000,2,1,1,yes,no,no,no,no,1,no,unfurnished
519,2450000,4840,2,1,2,yes,no,no,no,no,0,no,unfurnished
521,2408000,3635,2,1,1,no,no,no,no,no,0,no,unfurnished
523,2380000,2787,4,2,2,yes,no,no,no,no,0,no,furnished
525,2345000,3640,2,1,1,yes,no,no,no,no,0,no,unfurnished
527,2275000,1836,2,1,1,no,no,yes,no,no,0,no,semi-furnished
529,2275000,3970,3,1,2,yes,no,yes,no,no,0,no,unfurnished
531,2233000,5300,3,1,1,no,no,no,no,yes,0,yes,unfurnished
533,2100000,2400,3,1,2,yes,no,no,no,no,0,no,unfurnished
535,2100000,3360,2,1,1,yes,no,no,no,no,1,no,unfurnished
537,1890000,1700,3,1,2,yes,no,no,no,no,0,no,unfurnished
539,1855000,2990,2,1,1,no,no,no,no,no,1,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished

In [48]:
# index based methods
data.iloc[10:21,0:5]

      price   area  bedrooms  bathrooms  stories
10  9800000  13200         3          1        2
11  9681000   6000         4          3        2
12  9310000   6550         4          2        2
13  9240000   3500         4          2        2
14  9240000   7800         3          2        2
15  9100000   6000         4          1        2
16  9100000   6600         4          2        2
17  8960000   8500         3          2        4
18  8890000   4600         3          2        2
19  8855000   6420         3          2        2
20  8750000   4320         3          1        2

In [45]:
# position based methods

data.loc[10:20,'price':'guestroom']

      price   area  bedrooms  bathrooms  stories mainroad guestroom
10  9800000  13200         3          1        2      yes        no
11  9681000   6000         4          3        2      yes       yes
12  9310000   6550         4          2        2      yes        no
13  9240000   3500         4          2        2      yes        no
14  9240000   7800         3          2        2      yes        no
15  9100000   6000         4          1        2      yes        no
16  9100000   6600         4          2        2      yes       yes
17  8960000   8500         3          2        4      yes        no
18  8890000   4600         3          2        2      yes       yes
19  8855000   6420         3          2        2      yes        no
20  8750000   4320         3          1        2      yes        no

In [54]:
#data.set_index('price')

In [57]:
#data.sort_index(ascending=False)

In [59]:
data.sort_values(by = 'price')

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
539,1855000,2990,2,1,1,no,no,no,no,no,1,no,unfurnished
538,1890000,3649,2,1,1,yes,no,no,no,no,0,no,unfurnished
537,1890000,1700,3,1,2,yes,no,no,no,no,0,no,unfurnished
536,1960000,3420,5,1,2,no,no,no,no,no,0,no,unfurnished
535,2100000,3360,2,1,1,yes,no,no,no,no,1,no,unfurnished
534,2100000,3000,4,1,2,yes,no,no,no,no,0,no,unfurnished
533,2100000,2400,3,1,2,yes,no,no,no,no,0,no,unfurnished
532,2135000,3000,2,1,1,no,no,no,no,no,0,no,unfurnished
531,2233000,5300,3,1,1,no,no,no,no,yes,0,yes,unfurnished
530,2240000,1950,3,1,1,no,no,no,yes,no,0,no,unfurnished
529,2275000,3970,3,1,2,yes,no,yes,no,no,0,no,unfurnished
528,2275000,3970,1,1,1,no,no,no,no,no,0,no,unfurnished
527,2275000,1836,2,1,1,no,no,yes,no,no,0,no,semi-furnished
526,2310000,3180,2,1,1,yes,no,no,no,no,0,no,unfurnished
525,2345000,3640,2,1,1,yes,no,no,no,no,0,no,unfurnished
524,2380000,3264,2,1,1,yes,no,no,no,no,0,no,unfurnished
523,2380000,2787,4,2,2,yes,no,no,no,no,0,no,furnished
522,2380000,2475,3,1,2,yes,no,no,no,no,0,no,furnished
521,2408000,3635,2,1,1,no,no,no,no,no,0,no,unfurnished
520,2450000,7700,2,1,1,yes,no,no,no,no,0,no,unfurnished
519,2450000,4840,2,1,2,yes,no,no,no,no,0,no,unfurnished
518,2450000,3500,2,1,1,yes,yes,no,no,no,0,no,unfurnished
517,2450000,3000,2,1,1,yes,no,no,no,no,1,no,unfurnished
516,2450000,3240,2,1,1,no,yes,no,no,no,1,no,unfurnished
515,2450000,3210,3,1,2,yes,no,yes,no,no,0,no,unfurnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,8400000,7950,5,2,2,yes,no,yes,yes,no,2,no,unfurnished
27,8400000,8875,3,1,1,yes,no,no,no,no,1,no,semi-furnished
31,8400000,7000,3,1,4,yes,no,no,no,yes,2,no,semi-furnished
26,8463000,6000,3,2,4,yes,yes,yes,no,yes,0,yes,semi-furnished
25,8540000,6540,4,2,2,yes,yes,yes,no,yes,2,yes,furnished
24,8575000,8800,3,2,2,yes,no,no,no,yes,2,no,furnished
23,8645000,4560,3,2,2,yes,yes,yes,no,yes,1,no,furnished
22,8645000,8050,3,1,1,yes,yes,yes,no,yes,1,no,furnished
21,8680000,7155,3,2,1,yes,yes,yes,no,yes,2,no,unfurnished
20,8750000,4320,3,1,2,yes,no,yes,yes,no,2,no,semi-furnished
19,8855000,6420,3,2,2,yes,no,no,no,yes,1,yes,semi-furnished
18,8890000,4600,3,2,2,yes,yes,no,no,yes,2,no,furnished
17,8960000,8500,3,2,4,yes,no,no,no,yes,2,no,furnished
15,9100000,6000,4,1,2,yes,no,yes,no,no,2,no,semi-furnished
16,9100000,6600,4,2,2,yes,yes,yes,no,yes,1,yes,unfurnished
14,9240000,7800,3,2,2,yes,no,no,no,no,0,yes,semi-furnished
13,9240000,3500,4,2,2,yes,no,no,yes,no,2,no,furnished
12,9310000,6550,4,2,2,yes,no,no,no,yes,1,yes,semi-furnished
11,9681000,6000,4,3,2,yes,yes,yes,yes,no,2,no,semi-furnished
10,9800000,13200,3,1,2,yes,no,yes,no,yes,2,yes,furnished
9,9800000,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished
8,9870000,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
7,10150000,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
6,10150000,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
5,10850000,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished