In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
import seaborn as sns

In [4]:
data = pd.read_csv('usedcars.csv')

In [17]:
a = data.drop('mileage',axis=1)
y = data[['mileage']]

In [11]:
a.head()

   year model  price   color transmission
0  2011   SEL  21992  Yellow         AUTO
1  2011   SEL  20995    Gray         AUTO
2  2011   SEL  19995  Silver         AUTO
3  2011   SEL  17809    Gray         AUTO
4  2012    SE  17500   White         AUTO

In [21]:
a = pd.get_dummies(a)

In [22]:
a.shape

(150, 16)

In [37]:
x = np.zeros((16,1))
lr = 0.001
m = 150

In [41]:
pred = np.dot(a,x)
error = pred - y
cost = (1/m) * 
gradient = 1/m * np.dot(a.T,error)
x = x - (lr * gradient)